
body {
font-family: Electrolize;
/*background-image: URL( 'photo/9.jpg');*/
background-repeat: no-repeat;
background-size:2000px 1000px;
color: #000000; 
font-size: large;
background-color: #fff; 


}

.container {
max-width: 2000px;
margin-top: 80px;
margin-bottom: 80px;
margin-right: 50px;
margin-left: 50px;
padding:100px;
background-color: #fff;
border-radius: 10px;
border: 3px solid #000000;
box-shadow: 10px 5px 5px red;

}

.container h1 {
text-align: center;
}

.container input[type="text"],
.container input[type="email"],
.container input[type="password"],
.container input[type="submit"],
.container input[type="number"]{
width: 100%;
padding: 10px;
margin-bottom: 10px;
border: 3px solid #000000;
border-radius: 4px;
box-sizing: border-box;
font-family: Electrolize;
}


.container select {
width: 100%;
padding: 10px;
margin-bottom: 10px;
border: 3px solid #000000;
border-radius: 4px;
box-sizing: border-box;
font-family: Electrolize;

}
.container input[type="submit"] {
background-color: #eb0414;
color: #fff;
cursor: pointer;
}

.container input[type="submit"]:hover {
background-color: #ee4545;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


